<h3>Ventas</h3>
<div class="row">
  <div class="col-md-12">
    <div class="card ventas">
      <div class="card-body">
        <h5 class="card-title">Ventas Semanales</h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Usuario</th>
              <th scope="col">Email</th>
              <th scope="col">Telefono</th>
              <th scope="col">Región</th>
              <th scope="col">Comuna</th>
              <th scope="col">Direccion</th>
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Total</th>
              <th scope="col">Fecha</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            {{#each ventas}}
              <tr>
                <th scope="row">{{ventas_id}}</th>
                <td>{{username}}</td>
                <td>{{email}}</td>
                <td>{{telefono}}</td>
                <td>{{region}}</td>
                <td>{{comuna}}</td>
                <td>{{direccion}}</td>
                <td>{{nombre}}</td>
                <td>{{cantidad}}</td>
                <td>${{monto}}</td>
                <td>{{timeago fecha}}</td>
                <td>
                  {{#if visto}}
                    <a
                      href="ventas/visto/{{ventas_id}}"
                      class="btn btn-success"
                    ><i class="far fa-eye"></i></a>
                  {{else}}
                    <a
                      href="ventas/NoVisto/{{ventas_id}}"
                      class="btn btn-secondary"
                    ><i class="far fa-eye"></i></a>
                  {{/if}}
                  {{#if enviado}}
                    <a
                      href="ventas/enviado/{{ventas_id}}"
                      class="btn btn-success"
                    ><i class="fas fa-dolly"></i></a>
                  {{else}}
                    <a
                      href="ventas/NoEnviado/{{ventas_id}}"
                      class="btn btn-secondary"
                    ><i class="fas fa-dolly"></i></a>
                  {{/if}}
                  {{#if completado}}
                    <a
                      href="ventas/terminado/{{ventas_id}}"
                      class="btn btn-success"
                    ><i class="far fa-check-square"></i></a>
                  {{else}}
                    <a
                      href="ventas/NoTerminado/{{ventas_id}}"
                      class="btn btn-secondary"
                    ><i class="far fa-check-square"></i></a>
                  {{/if}}
                  <a
                    href="ventas/mensajes/{{usuarios_id}}"
                    class="btn btn-info"
                  ><i class="far fa-comments"></i></a>
                  {{!-- <a
                    href="ventas/eliminar/{{ventas_id}}"
                    class="btn btn-danger"
                  ><i class="far fa-trash-alt"></i></a> --}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>