<div class="containerHome">
  <h3>Dashboard</h3>

  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ventas Semanales</h5>
          <div class="card-body">
            <canvas id="myChart" width="400" height="400"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card mb-4">
        <div class="card-body">
          <div class="card-title">Monto ganado</div>
          <div class="card-text">${{montoFinal}}</div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Productos Vendidos</h5>
          <div class="card-body">
            <canvas id="myChart2" width="250" height="280"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4 mx-auto ">
      <div class="col-md-4 productos-slider">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Productos más vendidos</h5>
            <div class="item-slider">
               {{#each masVendidos}}
                <div class="producto-item d-block">
                  <img src={{pic1_producto}} 
                  style="width: 100px;height: 100px; object-fit: cover; border-radius: 10px 10px 0 0;" />
                  <p>{{nombre}}</p>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 productos-slider">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Productos menos vendidos</h5>
            <div class="item-slider">
              {{#each menosVendidos}}
                <div class="producto-item d-block">
                  <img src={{pic1_producto}} 
                  style="width: 100px;height: 100px; object-fit: cover; border-radius: 10px 10px 0 0;" />
                  <p>{{nombre}}</p>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Productos menos vendidos</h5>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>