<h3>Perfil</h3>


  <form action="/perfil/updatePerfil" method="post" enctype="multipart/form-data">
  <div class="mb-3 col-md-6 d-block">
    <img
      style="object-fit: cover; border-radius: 50%;"
      width="100"
      height="100"
      src={{user.pic_perfil}}
    />
    <input type="file" name="pic_perfil" id="pic_perfil">
  </div>


  <div class="row">
    <div class="mb-3 col-md-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" value="{{user.email}}" />
    </div>
    <div class="mb-3 col-md-3">
      <label for="password" class="form-label">Contrase침a</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        value="{{user.password}}"
      />
    </div>
    <div class="mb-3 col-md-3">
      <label for="cuenta" class="form-label">Numero de cuenta a depositar</label>
      <input type="number" class="form-control" id="cuenta" name="cuenta"  value="{{user.banco}}"/>
    </div>
  </div>
  <h4>Direcci칩n</h4>
  <div class="row">
    <div class="mb-3 col-md-3">
      <label for="telefono" class="form-label">Telefono</label>
      <input type="number" class="form-control" id="telefono" name="telefono" value="{{user.telefono}}"/>
    </div>
    <div class="mb-3 col-md-3">
      <label for="region" class="form-label">Regi칩n</label>
      <input type="text" class="form-control" id="region" name="region" value="{{user.region}}" />
    </div>
    <div class="mb-3 col-md-3">
      <label for="comuna" class="form-label">Comuna</label>
      <input type="text" class="form-control" id="comuna" name="comuna" value="{{user.comuna}}"/>
    </div>
    <div class="mb-3 col-md-3">
      <label for="direccion" class="form-label">Direcci칩n</label>
      <input type="text" class="form-control" id="direccion" name="direccion" value="{{user.direccion}}"/>
    </div>

  </div>

  <h4>Sitio Web y Redes Sociales</h4>
  <div class="row">
    <div class="mb-3 col-md-3">
      <label for="web" class="form-label">Sitio Web</label>
      <input type="text" class="form-control" id="sitioWeb" name="sitioWeb" value="{{user.sitioWeb}}"/>
    </div>
    <div class="mb-3 col-md-3">
      <label for="facebook" class="form-label">Facebook</label>
      <input type="text" class="form-control" id="facebook" name="facebook" value="{{user.facebook}}"/>
    </div>
    <div class="mb-3 col-md-3">
      <label for="instagram" class="form-label">Instagram</label>
      <input type="text" class="form-control" id="instagram" name="instagram" value="{{user.instagram}}"/>
    </div>
    <div class="mb-3 col-md-3">
      <label for="twitter" class="form-label">Twitter</label>
      <input type="text" class="form-control" id="twitter" name="twitter" value="{{user.twitter}}" />
    </div>
  </div>


  <button type="submit" class="btn btn-success">Actualizar</button>
</form>



</div>